html, body {
	background: #fff;
	height: 100%;
	}
div {
	border: 0px dashed red;
	}
#logo_main {
	height: 128px;
	width: 100%;
	padding: 0px;
	clear: both;
	float: left;
	}
#logo_centruj {
	margin:auto;
	background: url("img/logo.png");
	width: 870px;
	height: 128px;
	}
#pasek {
	height: 27px;
	width: 100%;
	padding: 4px 0px 4px 0px;
	background: url("img/pasek.png") repeat-x scroll 0 0;
	clear: both;
	float: left;
	}
#strony {
	height: 27px;
	width: 870px;
	margin: auto;
	padding: 0px;
	font-family: "Trebuchet MS", Verdana;
	font-size: 20px;
	}
#glowna {
	width: 100%;
	background: #ffffff;
	clear: both;
	float: left;
	padding: 15px 0 15px 0;
	}
#glowna_srodek {
	margin: auto;
	width: 870px;
	}
#post {
	min-height: 370px;
	max-height: 370px;
	overflow: auto;
	float: left;
	width: 670px;
	}
#kolumna {
	background: #ffffff;
	height: 370px;
	overflow: hidden;
	float: right;
	}
#kolumna_up {
	width: 180px;
	height: 24px;
	background: url("img/kolumna_up.png") no-repeat;
	}
#kolumna_main {
	width: 155px;
	max-height: 325px;
	background: url("img/kolumna_bg.png") no-repeat scroll;
	overflow: auto;
	padding: 0px 0px 0px 25px;
	}
#kolumna_down {
	width: 180px;
	height: 21px;
	background: url("img/kolumna_dol.png") no-repeat;
	}
#stopka {
	height: 46px;
	width: 100%;
	background: #ffffff url("img/stopabg.png") repeat-x scroll 0 0;
	padding: 4px 0px 0px 0px;
	clear: both;
	float: left;
	}
#stopka_srodek {
	margin: auto;
	width: 870px;
	}
