/*----------BODY----------*/
body {
font-family: "Arial";
font-size: 12px;
background: white;
color: black;
}
div { border: 0px dashed black; }
#center {
margin:auto;
background: white;
width: 702px;
}
/*kolory*/
#txt {
font-family: "Arial";
background-color: #B9C8BC;
color: Black;
}
/* style tekstu*/
h1 {
font-family: "Arial";
background-color: black;
color: white;
text-align: left;
background-repeat: no-repeat;
font-size: 50px;
display:inline;
border: 1px dashed black;
}
p { 
text-align: left;
font-size: 12px;
display:inline;
}

/*--------WARSTWY--------*/
/* logo */
#logo {
height: 80px;
}
#logonapis {
margin-top: 15px;
margin-left: 20px;
}
#tagline {
width: 300px;
font-size: 12px;
padding: 0 0 0 10px;
margin-top: -10px;
margin-left: 15px
}
/*tresc*/

#main {
border: 1px dashed black;
width: 500px;
float: left;
margin: 10px;
}
#menu {
border: 1px dashed black;
width: 160px;
float: right;
margin: 10px 10px 0px 0px;
}
