body {
	background-color: #FFFF99;
	font-family: verdana;
	font-size: 10px;
	}

div {
	border: 0px dashed white;
	}

#main {
	width: 800px;
	margin: auto;
	overflow:auto;
	height:auto;
	}

#logo {
	border: 0px dashed white;
	background:#fff url("../images/1.png");
	height: 120px;
	max-height: 150px;
	padding-top: 30px;
	}

#logo_text {
	margin-left: 20px;
	font-size: 35px;
	font-style: bold;
	}
	
#logo_motd {
	margin-left: 40px;
	font-size: 12px;
	font-style: underline;
	}

#menu {
	background: #fff;
	color: #000;
	height: 22px;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 3px solid #3366FF;
	padding: 0px;
	}

#menu a {
  text-decoration: none;
	color: #000;
	padding: 5px 5px 2px 5px;
	margin: 0px;
	border-bottom: 3px solid #3366FF;
	}
	
#menu a:hover {
  text-decoration: none;
	border-bottom: 3px solid #FF0000;
}

#content {
	max-height: 500px;
	overflow: auto;
	color: #000000;
	}
	
#footer {
	height: 21px;
	max-height: 30px;
	text-align: center;
	font-size: 12px;
	background: #000000;
	color: #ffffff;
	padding: auto;
	padding-top: 4px;}

.ui-tabs .ui-tabs-hide {
     display: none;
}
