body 	{
	background: #000000;
	color: #ffffff;
	font: normal 76% "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
	}
#main 	{
	width: 948px;
	height: 560px;
	margin: auto;
	background-image: url("images/bg.png");
	background-repeat: no-repeat;
	position:relative;
	margin-top:100px;
	}

#logo	{ 
	position: absolute; 
	top: 0px; 
	left: 40px; 
	width: 485px;
	height: 124px;
	}
#gal a	{
	border: 0px;
	font-size: 0px;
	text-decoration: none;
	}
a	{
	border: 0px;
	font-size: 30px;
	text-decoration: none;
	color: #9cfd24;
	}
a:hover {
	text-decoration: underline;
	}
#blog	{
	position: relative;
	top: 230px;
	left: 530px;
	border: 0px;
	width: 300px;
	height: 88px;
	text-align: center;
	}
#gal	{
	position: relative;
	top: 155px;
	left: 130px;
	border: 0px;
	width: 282px;
	height: 102px;
	}
img	{
	border: 0px;
	}
