/* simple reset */
* {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}
body {
	color: #444444;
	font-family: Tahoma;
	font-size: 13px;
	background-color: #fff;
	min-width: 650px; /* left content + sidebar + ev. side margins */
}

.clear {
    clear: both;
}

/* general layout */
div#header_wrapper {
	width: 100%;
	height: 111px;
	background: url(images/header.jpg) repeat-x;
}

div#main-wrapper {
    width: 95%;
    margin: 0 auto;
    text-align: left;
}

div#content-wrapper {
    float: left;
    width: 100%; /* req to keep content above sidebar in source code */
}

div#content {
    margin: 0 340px 0 0;
}

div#sidebar{
    float: left;
    width: 300px;
    margin-left: -300px;
}

/* alignment */
div.center {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

/* ----------------------------- */
/* header */
#header {
	padding: 0 10px;
	margin: 0 auto;
	height: 80px;
}

#header  #site_title {
	float: left;
	padding: 25px 0 0;
}

#header  #site_title h1 {
	margin: 0;
	padding: 0;
}

#header  #site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}

#header  #site_title span {
	text-align: left;
	margin-left: 20px;
	padding-bottom: 10px;
	font-size: 14px;
	color: #85c2d1;
	font-weight: bold;
	letter-spacing: 2px;
}