body {
	min-width: 550px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
}
* {
	margin: 0;
	padding: 0;
	line-height: 1.4;
}
a, a:link, a:visited {
	color: #4284ff;
}
a:hover {
	text-decoration: none;
}

p { margin: 0px; padding: 0 0 10px 0; }
img { border: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #000; }
h1 { font-size: 38px; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 28px; margin: 0 0 20px 0; padding: 0; }
h3 { font-size: 21px; margin: 0 0 20px 0; padding: 0; }
h4 { font-size: 18px; margin: 0 0 20px 0; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px 0; padding: 0; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0;}

div#header_wrapper {
	width: 100%;
	height: 100px;
	background: #3999F1 url('images/header.png') repeat-x;
}
div#main {
    width: 95%;
    margin: 0 auto;
    text-align: left;
}

div#content-wrapper {
    float: left;
    width: 100%; /* req to keep content above sidebar in source code */
}

div#content{
    margin: 0 220px 0 0;
		padding-top: 20px;
}

div#sidebar {
    float: left;
    width: 200px;
    margin-left: -200px;
		padding-top: 20px;
		text-align: right;
}

/* header */

#header {
	padding: 0 10px;
	margin: 0 auto;
	height: 80px;
}

#header  #site_title {
	float: left;
	padding: 25px 0 0;
}

#header  #site_title h1 {
	margin: 0;
	padding: 0;
}

#header  #site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #363636;
	font-weight: normal;
	text-decoration: none;
}

#header  #site_title span {
	text-align: left;
	margin-left: 20px;
	padding-bottom: 10px;
	font-size: 14px;
	color: #85c2d1;
	font-weight: bold;
	letter-spacing: 2px;
}

#header #rss a {
	float: right;
	display: block;
	width: 200px;
	height: 40px;
	padding: 10px 0 10px 60px;
	margin-top: 15px;
	color: #ffa200;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	background: url(images/rss.png) left center no-repeat;
}

#header #rss a:hover {
	color: #fff;
	text-decoration: none;	
}

#rss a span {
	font-size: 12px;
	margin-top: 5px;
	letter-spacing: 3px;
}

/* menu */

#menu {
	height: 31px;
	padding: 0 10px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#menu ul li a {
	float: left;
	display: block;
	height: 26px;
	margin: 0 8px 0 0;
	padding: 5px 0 0 0;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	color: #e4e1e1;	
	font-weight: bold;
	outline: none;
	border: none;
}

#menu ul li a:hover, #menu ul li .current {
	color: #fff;
	background: url(images/menu_hover.jpg) center bottom no-repeat;
}

/* end of menu */
/* end of header */
/* content */

.post {
	clear: both;
	padding-top: 20px;
  background: #262626;
}

.post h2 {
	padding: 10px 0 10px 0;
	line-height: 30px;
}

.post p {
	text-align: justify;
}

/* footer */

#footer_wrapper {
clear: both;
	width: 100%;
	height: 65px;
}

#footer {
	margin: 0 auto;
	padding: 05px 10px 0;
	text-align: center;
	color: #000;
}

#footer a {
	color: #4040ff;
}

/* footer wrapper */